<a href="https://colab.research.google.com/github/jahnvishukla2023-hash/Jahnvi-Shukla-exp-2/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Unit- 1
# Basic Programs Experiment- 2

In [23]:
#Many Statements
print("Hello World!")
print("Have a good day.")
print("Learning Python is fun")

Hello World!
Have a good day.
Learning Python is fun

In [24]:
print("Hello"); print("How are you?"); print("Bye bye!")

Hello
How are you?
Bye bye!

In [25]:
print("Hello World", end="! ")
print("I will print on the same line.")

Hello World! I will print on the same line.

In [26]:
# Print numbers
a=3
print(a)
print(358)
print(500.200)

3
358
500.2

In [27]:
#Variables
x = 5
y= "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [28]:
# Case-Sensitive
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [29]:
#Manyu Values to Multiple Varfiables
x, y, z = "Orange", "Banana" , "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [30]:
# Basic Arithmetic Operations
a = 10
b = 5

print("Addition =", a + b)
print("Subtraction =", a - b)
print("Multiplication =", a * b)
print("Division =", a / b)

Addition = 15
Subtraction = 5
Multiplication = 50
Division = 2.0

In [31]:
#Understanding Data types
x = 10
y = 3.14
z = "Python"
A = True
C = 3+2j

print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [39]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Jahnvi
Hello Jahnvi

In [40]:
# Taking Input from User
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Name:", name)
print("Age:", age)

Enter your name: Jahnvi
Enter your age: 18
Name: Jahnvi
Age: 18

In [41]:
#Write a program for simple calculator
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum =", a + b)
print("Difference =", a - b)
print("Product =", a * b)
print("Quotient =", a / b)

Enter first number: 25
Enter second number: 65
Sum = 90
Difference = -40
Product = 1625
Quotient = 0.38461538461538464

In [34]:
# Take marks from 5 studetns and find sum and average
a = int(input("Enter your marks: "))
b = int(input("Enter your marks: "))
c = int(input("Enter your marks: "))
d = int(input("Enter your marks: "))
e = int(input("Enter your marks: "))
print("Sum= ", a+b+c+d+e)
print("Average= ", (a+b+c+d+e)/5)

Enter your marks: 54
Enter your marks: 46
Enter your marks: 49
Enter your marks: 53
Enter your marks: 50
Sum=  252
Average=  50.4

In [35]:
#Find area of circle
r = float(input("Enter radius: "))
area = 3.14 * r * r
print("Area of circle =", area)

Enter radius: 14
Area of circle = 615.44

In [38]:
#Find area and perimeter of rectangle
l = int(input("Enter length of rectangle:"))
b = int(input("Enter breadth of rectangle:"))
area = l*b
perimeter = 2*(l+b)
print("Area of circle=", area)
print("Perimeter of circle=", perimeter)

Enter length of rectangle:23
Enter breadth of rectangle:10
Area of circle= 230
Perimeter of circle= 66